.portfolio-section {
  padding: 2em 0;
}

.card {
  display: inline-block;
}

.description {
  display: inline-block;
}

.link-icons {
  margin-top: 10px;
}

.ps-5, .pe-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.portfolio-section {
  margin: 50px 0;
  padding-top: 75px; 
  margin-top: 0px;  
}

h2.text-start {
  text-align: left;
}

.description.centered-text {
  margin: 0 15%;
}

.card.custom-card {
  width: 80%;
  margin: 0 auto;
}
.link-icons.d-flex {
  justify-content: center;
}
.my-component {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.my-component.active {
  opacity: 1;
  transform: translateY(0);
}

.description, .card.custom-card {
  width: 80%;
  margin: 0 auto;
}

.intro-paragraph {
  margin: 0 auto;
  width: 80%;
}


@media only screen and (max-width: 768px) {
  .description, .card.custom-card {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .description.centered-text, .ps-5, .pe-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-left: 0 !important; 
    margin-right: 0 !important;
  }
}
