form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  input,
  textarea,
  button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }
  
  button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
  }
  
  button:disabled {
    background-color: grey;
  }
  